name: Run Tests

on:
  pull_request:
    branches:
      - dev

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Setup Node.js environment
      uses: actions/setup-node@v2.1.2
      with:
        node-version: '18'

    - name: Install dependencies
      run: npm ci

    - name: Run Tests
      run: npm test
